body{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 91.88px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

[id] {
    scroll-margin-top: 100px;
 }

 .margin-card {
    margin: 5px;
    background-color: #EFEDF1;
    border: 1px solid #E2E3E8;
    padding: 10px;   
}

.cont-img{
    text-align: center;
    margin: 35px 0px;
}
.cont-img:hover{
    scale: 1.1;
}

.img-skill{
    height: 120px;
    text-align: center
}

.img-bootstrap{
    margin-top: 15px; 
    height:fit-content; 
    width: 120px
}

.img-skill-node{
    height: 100px;
    width: 120px;
    text-align: center
}